@media (max-width: 1024px) {
  header nav .nav-link {
      min-width: 8em;
  }

  .fullscreen-player iframe, .fullscreen-player object, .fullscreen-player embed {
      width: 80%;
      height: 70%;
  }

  .fullscreen-player .close-button {
      width: 80%;
  }

  .fullscreen-player .modal-content {
      width: 70%;
  }
  .fullscreen-background .container .company-tagline {
    font-size: 4rem;
  }
  .filler .container {
      grid-template-columns: 1fr 1fr 1fr;
  }

  .filler .container .item {
      margin-bottom: 6%;
  }

  .filler .tagline {
    font-size: 2.3rem;
  }

  .filler .hero-detail {
    font-size: 1.2rem;
  }

  .filler .container.about .quote {
      margin-bottom: 1em;
  }

  .filler .container.audio-sam .item {
      margin: 5% 15%;
  }
}

@media (max-width: 875px) {
  header nav .nav-link {
      min-width: 7em;
  }
  .filler .container.audio-sam .item {
      margin: 5% 10%;
  }
}

@media (max-width: 768px) {
  header {
      padding: 0 1.2em;
  }

  header nav {
      display: none;
  }

  .hamburger-menu {
      display: flex;
  }

  .sidenavdrawer .hamburger-menu {
      padding: 1em;
  }

  .fullscreen-player iframe, .fullscreen-player object, .fullscreen-player embed {
      width: 95%;
      height: 65%;
  }

  .fullscreen-player .modal-content {
      width: 95%;
  }

  .fullscreen-player .close-button {
      width: 95%;
  }

  .filler {
      padding: 4em 1.2em;
  }

  .filler.service-pg .tagline {
    width: 100%;
    text-align: center;
  }

  .filler.service-pg .hero-detail {
    width: 100%;
    text-align: center;
  }

  .filler .container.about .quote {
      flex-direction: column-reverse;
  }

  .filler .view-all-button {
      align-self: center;
  }

  .filler .container.about .quote p {
      margin-top: 1em;
  }

  .filler .container.audio-sam .item {
      margin: 5%;
  }

  .fullscreen-background .video_overlay {
      display: none;
  }
}

@media (max-width: 600px) {
  .fullscreen-background .container .company-tagline {
      font-size: 4rem;
  }

  .filler .container .item .detail .button .material-icons {
      font-size: 1.7rem;
  }

  .filler .container {
      grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 425px) {
  header .hamburger-menu>i {
      font-size: 1.7rem !important;
  }

  .fullscreen-background .container .company-tagline {
      font-size: 3rem;
  }

  .filler {
      padding: 4em 1em;
  }

  .filler .tagline {
    font-size: 2rem;
  }

  .filler .titlecontainer .title {
      font-size: 2rem;
  }

  .filler .container {
      grid-template-columns: 100%;
  }

  .filler .container.about .quote {
      font-size: 1.5rem;
  }

  .filler .view-all-button {
      margin: 1em 0;
  }

  .filler .container.audio-sam .item {
      margin: 5% 10%;
  }

}

@media (max-width: 375px) {
  .sidenavdrawer {
      min-width: 14em;
  }

  .fullscreen-player iframe, .fullscreen-player object, .fullscreen-player embed {
      width: 95%;
      height: 55%;
  }

  .fullscreen-player .modal-content {
      width: 95%;
  }

  .fullscreen-player .close-button {
      width: 95%;
  }
}
