@keyframes flip-down {
  0% {
    opacity: 0;
    -moz-transform: rotateX(-60deg);
    -webkit-transform: rotateX(-60deg);
    transform: rotateX(-60deg);
  }
  100% {
    opacity: 1;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes zoom {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* line 33, ../sass/main.scss */
body {
  overflow: auto;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: white;
  width: 100%;
  text-rendering: geometricPrecision;
}

/* line 42, ../sass/main.scss */
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}

/* line 49, ../sass/main.scss */
a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* line 54, ../sass/main.scss */
p {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  display: inline-block;
}

/* line 60, ../sass/main.scss */
h1 {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* line 65, ../sass/main.scss */
h2 {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* line 70, ../sass/main.scss */
h3 {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* line 75, ../sass/main.scss */
h4 {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* line 80, ../sass/main.scss */
h5 {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* line 85, ../sass/main.scss */
h6 {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* line 90, ../sass/main.scss */
hr {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* line 95, ../sass/main.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 100, ../sass/main.scss */
div {
  display: inline-block;
  position: relative;
}

/* line 104, ../sass/main.scss */
.material-icons.md-1 {
  font-size: 1.125em;
}

/* line 107, ../sass/main.scss */
.material-icons.md-2 {
  font-size: 1.5em;
}

/* line 110, ../sass/main.scss */
.material-icons.md-3 {
  font-size: 2.25em;
}

/* line 113, ../sass/main.scss */
.material-icons.md-4 {
  font-size: 3em;
}

/* line 116, ../sass/main.scss */
.material-icons.md-5 {
  font-size: 3.75em;
}

/* line 119, ../sass/main.scss */
.material-icons.md-6 {
  font-size: 4.2em;
  color: #545454;
}

/* line 123, ../sass/main.scss */
.material-icons.md-7 {
  font-size: 5.25em;
}

/* line 126, ../sass/main.scss */
.material-icons.md-8 {
  font-size: 6em;
}

/* line 129, ../sass/main.scss */
.material-icons.md-9 {
  font-size: 6.75em;
}

/* line 132, ../sass/main.scss */
.material-icons.md-10 {
  font-size: 7.5em;
}

/* line 135, ../sass/main.scss */
.material-icons.md-11 {
  font-size: 8.25em;
}

/* line 138, ../sass/main.scss */
.material-icons.md-12 {
  font-size: 9em;
}

/* line 141, ../sass/main.scss */
.material-icons.md-13 {
  font-size: 9.75em;
}

/* line 144, ../sass/main.scss */
.material-icons.md-14 {
  font-size: 10.5em;
}

/* line 147, ../sass/main.scss */
.material-icons.md-15 {
  font-size: 11.25em;
}

/* line 150, ../sass/main.scss */
.material-icons.md-16 {
  font-size: 12em;
}

/* line 153, ../sass/main.scss */
.material-icons.md-17 {
  font-size: 12.75em;
}

/* line 156, ../sass/main.scss */
.material-icons.md-18 {
  font-size: 13.5em;
}

/* line 159, ../sass/main.scss */
.material-icons.md-19 {
  font-size: 14.25em;
}

/* line 162, ../sass/main.scss */
.material-icons.md-20 {
  font-size: 15em;
}

/* line 165, ../sass/main.scss */
.material-icons.md-21 {
  font-size: 15.75em;
}

/* line 168, ../sass/main.scss */
.material-icons.md-22 {
  font-size: 16.5em;
}

/* line 171, ../sass/main.scss */
.material-icons.md-23 {
  font-size: 17.25em;
}

/* line 174, ../sass/main.scss */
.material-icons.md-24 {
  font-size: 18em;
}

/* line 177, ../sass/main.scss */
.material-icons.md-25 {
  font-size: 18.75em;
}

/* line 180, ../sass/main.scss */
.material-icons.md-26 {
  font-size: 19.5em;
}

/* line 183, ../sass/main.scss */
.material-icons.md-27 {
  font-size: 20.25em;
}

/* line 186, ../sass/main.scss */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

/* line 189, ../sass/main.scss */
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* line 192, ../sass/main.scss */
.material-icons.md-light {
  color: white;
}

/* line 195, ../sass/main.scss */
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* line 198, ../sass/main.scss */
header {
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  padding: 0 9%;
  min-height: 3.9em;
  animation: fade 1s ease-in;
}
/* line 210, ../sass/main.scss */
header .top-header-logo {
  height: 100%;
  padding: 0.8em 0em;
  display: flex;
  align-items: center;
}
/* line 215, ../sass/main.scss */
header .top-header-logo img {
  max-width: 2.7rem;
}
/* line 218, ../sass/main.scss */
header .top-header-logo .ub-text {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0 0.6em;
  margin: 0 0.3em;
  border-left: 1px solid white;
  font-size: 0.9rem;
}
/* line 228, ../sass/main.scss */
header nav {
  display: flex;
}
/* line 230, ../sass/main.scss */
header nav .nav-link {
  text-align: center;
  color: #ffffff;
  padding: 1.5em 0;
  min-width: 9em;
  border-top: 2px solid rgba(123, 194, 255, 0);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
/* line 238, ../sass/main.scss */
header nav .nav-link:hover {
  border-color: white;
}
/* line 241, ../sass/main.scss */
header nav .nav-link:hover .dropdown-content {
  display: flex;
}
/* line 244, ../sass/main.scss */
header nav .nav-link a {
  color: #ffffff;
  padding: 1.5em 0;
}
/* line 248, ../sass/main.scss */
header nav .nav-link .dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  min-width: 100%;
}
/* line 254, ../sass/main.scss */
header nav .nav-link .dropdown-content a {
  padding: 1em 0.5em;
  color: #545454;
  background: #f5f5f5;
  transition: background 100ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  animation: flip-down 300ms ease-in-out forwards;
}
/* line 266, ../sass/main.scss */
header nav .nav-link .dropdown-content a:nth-child(7) {
  animation-delay: 248ms;
  border-bottom: 1px solid #cccccc;
}
/* line 270, ../sass/main.scss */
header nav .nav-link .dropdown-content a:nth-child(6) {
  animation-delay: 206ms;
}
/* line 273, ../sass/main.scss */
header nav .nav-link .dropdown-content a:nth-child(5) {
  animation-delay: 164ms;
}
/* line 276, ../sass/main.scss */
header nav .nav-link .dropdown-content a:nth-child(4) {
  animation-delay: 122ms;
}
/* line 279, ../sass/main.scss */
header nav .nav-link .dropdown-content a:nth-child(3) {
  animation-delay: 80ms;
}
/* line 282, ../sass/main.scss */
header nav .nav-link .dropdown-content a:nth-child(2) {
  animation-delay: 38ms;
}
/* line 285, ../sass/main.scss */
header nav .nav-link .dropdown-content a:nth-child(1) {
  animation-delay: 0ms;
  border-top: 1px solid #cccccc;
}
/* line 289, ../sass/main.scss */
header nav .nav-link .dropdown-content a p {
  font-size: 0.9rem;
  font-weight: normal;
}
/* line 293, ../sass/main.scss */
header nav .nav-link .dropdown-content a:hover {
  background: #90A4AE;
  color: white;
}
/* line 296, ../sass/main.scss */
header nav .nav-link .dropdown-content a:hover p {
  color: white;
}

/* line 305, ../sass/main.scss */
.hamburger-menu {
  display: none;
  padding: 1em 0em;
  cursor: pointer;
  color: white;
}

/* line 312, ../sass/main.scss */
.sidenavdrawer {
  display: flex;
  top: 0;
  flex-direction: column;
  position: fixed;
  z-index: 11;
  background: white;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.27);
  height: 100%;
  overflow: auto;
  min-width: 14.5em;
  right: -100%;
  transition: all 0.3s ease-in-out;
}
/* line 326, ../sass/main.scss */
.sidenavdrawer .navlinkcontainer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9rem;
  padding: 0.7em 0;
  text-decoration: none;
  color: #545454;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}
/* line 336, ../sass/main.scss */
.sidenavdrawer .navlinkcontainer a:hover {
  background-color: #eeeeee;
}
/* line 339, ../sass/main.scss */
.sidenavdrawer .navlinkcontainer a > i {
  display: inline-block;
  margin: 0 0.5em;
  font-size: 2.25em;
}

/* line 348, ../sass/main.scss */
.sidenavdrawer.reveal {
  right: 0;
}

/* line 352, ../sass/main.scss */
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* line 358, ../sass/main.scss */
.fullscreen-background {
  padding: 0 9%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: black;
}
/* line 371, ../sass/main.scss */
.fullscreen-background .container {
  width: 100%;
  animation: fade 2s ease-in-out;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
/* line 378, ../sass/main.scss */
.fullscreen-background .container .company-tagline {
  font-size: 5rem;
  color: white;
  font-family: 'Libre Barcode 39 Text', cursive;
}
/* line 384, ../sass/main.scss */
.fullscreen-background .up-arrow {
  opacity: 0;
  animation: zoom 500ms cubic-bezier(0.18, 0.89, 0.46, 1.42) 1s forwards;
}

/* line 390, ../sass/main.scss */
.video_overlay {
  animation: fade 2s ease-in-out;
  position: fixed;
  filter: opacity(50%) grayscale(100%);
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/* line 405, ../sass/main.scss */
.fullscreen-player {
  position: fixed;
  z-index: 9;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 31px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.73);
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation: fade 300ms ease-in-out forwards;
}
/* line 420, ../sass/main.scss */
.fullscreen-player iframe {
  left: 0;
  top: 0;
  width: 60%;
  height: 70%;
  border-radius: 0.3%;
}
/* line 427, ../sass/main.scss */
.fullscreen-player object {
  left: 0;
  top: 0;
  width: 60%;
  height: 70%;
  border-radius: 0.3%;
}
/* line 434, ../sass/main.scss */
.fullscreen-player embed {
  left: 0;
  top: 0;
  width: 60%;
  height: 70%;
  border-radius: 0.3%;
}
/* line 441, ../sass/main.scss */
.fullscreen-player .modal-content {
  left: 0;
  top: 40px;
  width: 50%;
  height: auto;
  opacity: 0;
  -webkit-animation: zoom 300ms ease-in-out;
  animation: zoom 300ms ease-in-out forwards;
  display: flex;
  align-items: center;
}
/* line 452, ../sass/main.scss */
.fullscreen-player .modal-content .mySlides img {
  width: 100%;
  height: 100%;
}
/* line 457, ../sass/main.scss */
.fullscreen-player .modal-content .nav-modal-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 464, ../sass/main.scss */
.fullscreen-player .modal-content .nav-modal-content .left-right {
  display: flex;
  justify-content: space-between;
}
/* line 470, ../sass/main.scss */
.fullscreen-player .close-button {
  width: 100%;
  display: flex;
  align-items: center;
}
/* line 474, ../sass/main.scss */
.fullscreen-player .close-button > .material-icons {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  padding: 1em;
  color: white;
}

/* line 484, ../sass/main.scss */
.card {
  background: white;
  border-radius: 3px;
  margin-bottom: 8%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 20px #BDBDBD;
}

/* line 492, ../sass/main.scss */
.filler {
  padding: 5em 9%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: linear-gradient(#ffffff, #f5f5f5);
  min-height: 100vh;
}
/* line 499, ../sass/main.scss */
.filler .titlecontainer {
  margin-bottom: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
/* line 506, ../sass/main.scss */
.filler .titlecontainer hr {
  padding: 0.10em;
  width: 3em;
  background-color: #03a9f4;
  border: none;
}
/* line 512, ../sass/main.scss */
.filler .titlecontainer .title {
  color: #545454;
  font-size: 2.5rem;
}
/* line 517, ../sass/main.scss */
.filler .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2%;
  width: 100%;
  margin-top: 1em;
  transition: all 0.3s ease-in-out;
}
/* line 525, ../sass/main.scss */
.filler .container .item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  border-radius: 3px;
  margin-bottom: 8%;
  width: 100%;
  max-height: 100%;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
}
/* line 539, ../sass/main.scss */
.filler .container .item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: white;
  transition: all 300ms ease-in-out;
}
/* line 547, ../sass/main.scss */
.filler .container .item .icon .material-icons {
  font-size: 6rem;
  padding: 0.65em 0;
}
/* line 553, ../sass/main.scss */
.filler .container .item:hover > img {
  filter: opacity(90%);
}
/* line 556, ../sass/main.scss */
.filler .container .item:hover .button {
  color: #C62828;
}
/* line 560, ../sass/main.scss */
.filler .container .item > img {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  transition: all 0.3s ease-in-out;
}
/* line 567, ../sass/main.scss */
.filler .container .item .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: inherit;
  padding: 0.5em;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: inherit;
}
/* line 577, ../sass/main.scss */
.filler .container .item .detail .left-container {
  display: flex;
  flex-direction: column;
  color: inherit;
}
/* line 581, ../sass/main.scss */
.filler .container .item .detail .left-container .title {
  font-weight: bold;
  font-size: 0.9rem;
  color: #545454;
}
/* line 586, ../sass/main.scss */
.filler .container .item .detail .left-container .sub-title {
  font-weight: bold;
  font-size: 0.7rem;
  color: #757575;
}
/* line 592, ../sass/main.scss */
.filler .container .item .detail .button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: inherit;
  color: #545454;
  padding: 0.5em;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
/* line 601, ../sass/main.scss */
.filler .container .item .detail .button .material-icons {
  font-size: 2rem;
}
/* line 607, ../sass/main.scss */
.filler .container .item .button i {
  margin-right: 0.1em;
}
/* line 613, ../sass/main.scss */
.filler .container .item .detail.service .left-container .sub-title {
  font-size: 0.8rem;
  font-weight: normal;
}
/* line 618, ../sass/main.scss */
.filler .container .item .detail.service .button {
  color: inherit;
}
/* line 623, ../sass/main.scss */
.filler .container .item.music {
  background: #673ab7;
}
/* line 625, ../sass/main.scss */
.filler .container .item.music .detail {
  background: #7E57C2;
}
/* line 628, ../sass/main.scss */
.filler .container .item.music:hover {
  filter: opacity(80%);
}
/* line 632, ../sass/main.scss */
.filler .container .item.video {
  background: #009688;
}
/* line 634, ../sass/main.scss */
.filler .container .item.video .detail {
  background: #26A69A;
}
/* line 637, ../sass/main.scss */
.filler .container .item.video:hover {
  filter: opacity(80%);
}
/* line 641, ../sass/main.scss */
.filler .container .item.studio {
  background: #f44336;
}
/* line 643, ../sass/main.scss */
.filler .container .item.studio .detail {
  background: #EF5350;
}
/* line 646, ../sass/main.scss */
.filler .container .item.studio:hover {
  filter: opacity(80%);
}
/* line 650, ../sass/main.scss */
.filler .container .item.mix-master {
  background: #8bc34a;
}
/* line 652, ../sass/main.scss */
.filler .container .item.mix-master .detail {
  background: #9CCC65;
}
/* line 655, ../sass/main.scss */
.filler .container .item.mix-master:hover {
  filter: opacity(80%);
}
/* line 659, ../sass/main.scss */
.filler .container .item.photography {
  background: #ff5722;
}
/* line 661, ../sass/main.scss */
.filler .container .item.photography .detail {
  background: #FF7043;
}
/* line 664, ../sass/main.scss */
.filler .container .item.photography:hover {
  filter: opacity(80%);
}
/* line 668, ../sass/main.scss */
.filler .container .item.promotion {
  background: #ff9800;
}
/* line 670, ../sass/main.scss */
.filler .container .item.promotion .detail {
  background: #FFA726;
}
/* line 673, ../sass/main.scss */
.filler .container .item.promotion:hover {
  filter: opacity(80%);
}
/* line 677, ../sass/main.scss */
.filler .container .item.audio-dist {
  background: #e91e63;
}
/* line 679, ../sass/main.scss */
.filler .container .item.audio-dist .detail {
  background: #EC407A;
}
/* line 682, ../sass/main.scss */
.filler .container .item.audio-dist:hover {
  filter: opacity(80%);
}
/* line 687, ../sass/main.scss */
.filler .view-all-button {
  display: inline-block;
  background-color: #03a9f4;
  color: white;
  font-size: 1rem;
  padding: 1em;
  margin: 2em 0;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
/* line 696, ../sass/main.scss */
.filler .view-all-button i {
  font-size: 1.4rem;
}
/* line 699, ../sass/main.scss */
.filler .view-all-button:hover {
  background: #29B6F6;
}
/* line 703, ../sass/main.scss */
.filler .container.audio-sam {
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}
/* line 706, ../sass/main.scss */
.filler .container.audio-sam .item {
  margin: 5% 20%;
  max-width: 100%;
  width: auto;
}
/* line 711, ../sass/main.scss */
.filler .container.audio-sam .item .icon .material-icons {
  padding: 0.8em 0.4em;
}
/* line 716, ../sass/main.scss */
.filler .container.audio-sam .item .detail audio {
  width: 100%;
}
/* line 725, ../sass/main.scss */
.filler .container.showcase-pg .item:hover img {
  transform: scale(1.6);
}
/* line 729, ../sass/main.scss */
.filler .container.showcase-pg .item > img {
  border-bottom: 0;
  border-radius: inherit;
  transform: scale(1.5);
  transition: all 2s ease-in-out;
}
/* line 736, ../sass/main.scss */
.filler .container.showcase-pg .item .detail .button {
  font-size: 0.9rem;
}
/* line 740, ../sass/main.scss */
.filler .container.showcase-pg .item .detail .left-container .title {
  font-size: 0.9rem;
  color: #212121;
}
/* line 750, ../sass/main.scss */
.filler .container.projects-pg .item .detail {
  align-content: center;
}
/* line 752, ../sass/main.scss */
.filler .container.projects-pg .item .detail .button {
  color: white;
}
/* line 754, ../sass/main.scss */
.filler .container.projects-pg .item .detail .button i {
  margin: 0;
  font-size: 1.2rem;
}
/* line 766, ../sass/main.scss */
.filler .containerprojects-pg .item .detail .left-container .title {
  font-weight: normal;
  font-size: 1rem;
  color: white;
}
/* line 775, ../sass/main.scss */
.filler .container.about {
  display: flex;
  flex-direction: column;
}
/* line 778, ../sass/main.scss */
.filler .container.about .quote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #03a9f4;
  text-align: center;
}
/* line 787, ../sass/main.scss */
.filler .container.about .quote img {
  width: 100%;
  max-width: 7.5em;
  border-radius: 1%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.27);
}
/* line 794, ../sass/main.scss */
.filler .container.about .main-about {
  color: #212121;
}
/* line 798, ../sass/main.scss */
.filler .tagline {
  margin: 2em 0;
  margin-bottom: 1em;
  font-size: 3rem;
  color: white;
  width: 50%;
}
/* line 805, ../sass/main.scss */
.filler .hero-detail {
  font-size: 1.5rem;
  color: white;
  width: 50%;
}

/* line 812, ../sass/main.scss */
.filler.top-main {
  top: 100vh;
}

/* line 816, ../sass/main.scss */
.filler.top-fix {
  top: 60.5px;
}

/* line 820, ../sass/main.scss */
.trans-ani {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/* line 825, ../sass/main.scss */
.modal {
  display: none;
  position: fixed;
  z-index: 8;
}

/* line 831, ../sass/main.scss */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

/* line 840, ../sass/main.scss */
.mySlides {
  width: 100%;
  display: none;
}

/* line 845, ../sass/main.scss */
.cursor {
  cursor: pointer;
}

/* line 850, ../sass/main.scss */
.nav-modal-content .nav-button {
  transition: 0.3s ease-in-out;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* line 858, ../sass/main.scss */
.nav-modal-content .nav-button .button {
  cursor: pointer;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
/* line 864, ../sass/main.scss */
.nav-modal-content .nav-button .button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 871, ../sass/main.scss */
footer {
  display: flex;
  font-weight: bold;
  flex-direction: row;
  justify-content: space-between;
  background: #EEEEEE;
  color: #9E9E9E;
  font-size: 0.8rem;
  padding: 1em;
}
/* line 881, ../sass/main.scss */
footer:nth-child(2n) a {
  text-decoration: none;
  color: #9e9e9e;
}
/* line 886, ../sass/main.scss */
footer .text-align-right {
  text-align: right;
}

/* line 891, ../sass/main.scss */
.filler.service-pg {
  align-items: flex-start;
}
/* line 894, ../sass/main.scss */
.filler.service-pg .titlecontainer .title {
  color: white;
}

/* line 900, ../sass/main.scss */
.under_const_ovrly {
  font-size: 1rem;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 10;
  right: 0;
  bottom: 0;
  padding: 1em;
  font-size: 1rem;
  color: #545454;
  font-weight: bold;
}
/* line 912, ../sass/main.scss */
.under_const_ovrly i {
  font-size: inherit;
  margin: 0 0.3em;
}
